body {
  background-color: white; }

h1 {
  transition: ease 2s;
  color: black; }

h1:hover {
  color: gray; }

p {
  color: black; }

.collection-item span {
  float: right;
  font-size: 25px; }

.collection-item span:hover {
  color: #e56c78; }
